.jumbotron-image {
    /* background-image: url('../../images/patrick.png') no-repeat center center; */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 574px;

  }
.navbar {
    margin-bottom: 0px;
}
.title-text {
    font: 80px Verdanda, sans-serif;
    color: rgb(255, 255, 255);
}
.title-subtext {
    font: 50 Verdanda, sans-serif;
    color: rgb(219, 219, 219);
}
